<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <span class="navbar-logo">JobConnect</span>
    </div>
    <div class="navbar-menu">
      <a routerLink="/" class="navbar-item active">Home</a>
      <!-- <a href="#" class="navbar-item">Companies</a>
      <a href="#" class="navbar-item">Resources</a> -->
    </div>
    <div class="navbar-actions">
      <ng-container *ngIf="!isAuthenticated; else loggedIn">
     <!-- In your component's .html file -->
       <a class="navbar-button primary" routerLink="/login">Log in</a>
<p-dropdown [options]="options" [(ngModel)]="selectedOption" (onChange)="navigateToComponent($event)" placeholder="Sign Up"></p-dropdown>
      </ng-container>
      <ng-template #loggedIn>
        <span class="navbar-welcome">Welcome {{currentUser?.role}}</span>
      </ng-template>
    </div>
    <div class="navbar-mobile-menu">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Open main menu</span>
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </div>
</nav>